<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database Sample</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
    <header id="header">
        <div class="inside-header">
            <div class="title-header">Movie Database Sample</div>
        </div>
    </header>
    <div id="main">
        <div class="inside-main">
            <div class="request-block">
                <div class="pages-request">
                    <div class="page-request">
                        <a th:href="@{/}">Фильмы</a>
                    </div>
                    <div class="page-request">
                        <a th:href="@{/actors}">Актеры</a>
                    </div>
                    <div class="page-request">
                        <a th:href="@{/directors}">Режиссеры</a>
                    </div>
                    <div class="page-request">
                        <a th:href="@{/top10}">Топ-10</a>
                    </div>
                </div>
            </div>
            <div class="show-movie-block">
                <div class="img-movie"></div>
                <div class="desc-movie" th:text="${movie.getName()}"></div>
                <div class="desc-movie" th:text="'Год производства - ' + ${movie.getYear()}"></div>
                <div class="desc-movie" th:text="'Рейтинг - ' + ${movie.getRating()}"></div>
                <div class="desc-movie" th:text="'Жанр - ' + ${movie.getGenre().getName()}"></div>
<!--                <div class="desc-movie" th:text="'Режиссеры - '">-->
<!--                    <div th:each="director : ${movie.getMoviesDirectors()}">-->
<!--                        <div th:text="${director.getDirector().getName() + ' ' + director.getDirector().getLastname()} + ', '"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="desc-movie" th:text="'Актеры - '">-->
<!--                    <div th:each="actor : ${movie.getMoviesActors()}" th:text="${actor.getActor().getName() + ', '}"></div>-->
<!--                </div>-->
                <div class="buttoms-movie">
                    <div class="buttom-movie"><a th:href="@{/}">Назад</a></div>
                    <div class="buttom-movie"><a th:href="${'/movie/delete/' + movie.getId()}">Удалить</a></div>
                    <div class="buttom-movie"><a th:href="${'/movie/edit/' + movie.getId()}">Редактировать</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>